.card{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    &__inner{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        margin: 0;
        margin-bottom: 10px;
    }
    &__subtitle{
        margin: 0;
        margin-bottom: 20px;
    }
    &__choice{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}


