.choiceEver{
    flex: 1;
    &__container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__element{
        margin: 0px;
        margin-bottom: 20px;
        background: white;
        border-radius: 20px;
        width: 100%;
        box-sizing: border-box;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        transition: transform 0.2s;
        &:hover{
            transform: scale(1.05);        
        }
       
    }
    &__percentage{
        margin: 0;
        position: relative;
        font-size: 22px;
        margin: 5px;
        color: black;
        font-weight: 500;

    }
    &__title{
        padding: 0 0 20px 0;
        margin: 0;
        max-width: 750px;
        font-size: 22px;
        font-family: "IndieFlower";
        line-height: 1.5;
        color: black;
        &.small{
            font-size: 16px;
        }
    }
    &__header{
        display: flex;
        flex-direction: column;
    }
    &__number{
        width:50px;
        align-self: center;
        margin: 20px 0;
    }
    &__label{
        width: 100%;
        border-radius: 20px;
        box-sizing: border-box;
        cursor: pointer;
        border: 10px solid $primary-color;       
        &:hover{
            background: $primary-color;   
        }
        &-2{
            border: 10px solid $secondary-color;
            &:hover{
                background: $secondary-color;
                color:white
            }
        }
    }
    &__radio{
        -webkit-appearance: none;
        appearance: none;
    }
}
.choiceEver__radio:checked + .choiceEver__label {
    background:$primary-color;
}
.choiceEver__radio:checked + .choiceEver__label-2 {
    background:$secondary-color;
}