.game__score{
    background: white;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 115px;
}

.score__text{
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.5;
    &:last-child{
        margin-bottom: 0;
    }
}