
@font-face {
    font-family: "IndieFlower";
    src: local("IndieFlower"),
     url(../font/IndieFlower.ttf) format("truetype");
  }
#app{
    background: linear-gradient(55deg, #c097e3, #6fbaf7);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-family: "IndieFlower";

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    min-height: 100vh;
    width: 100%;
}
.container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: $secondary-color;
    border: 0;
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s;
    &:hover{
        background-color: white;
        transform: scale(1.1);
    }
}



