.game__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    max-width: 1000px;
    position: relative;
}
.game__inner{
    width: 100%;
}
.game__score{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.6);
    padding: 20px;
    position: fixed;
    right: 0px;
    top:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__inner{
        background: white;
        padding: 50px;
        border-radius: 30px;
        font-size: 30px;
    }
}
#nextItem{
    position: absolute;
    left: 1010px;
    top: 130px;
}
