.game__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
    position: relative;
}
.game__inner{
    width: 100%;
    max-width: 950px;
    margin: 0 30px;
}

.game__right{
    display: flex;
    flex-direction: column;
}
#nextItem{
    margin-top: 115px;
    width: fit-content;
    margin-bottom: 20px;
}
